<header
  class="flex h-[3.07rem] min-h-[3.07rem] items-center gap-1 border-b border-border"
  [class.justify-between]="!asideCollapsed"
  [class.justify-center]="asideCollapsed"
>
  <section class="flex-1 px-2 py-2 pr-0 h-12.75 min-h-12.75" [hidden]="asideCollapsed">
    <label class="flex items-center gap-2 rounded-md border-border bg-muted/30 px-2 py-1.5"
           [class.border]="!asideCollapsed"
           [class.justify-center]="asideCollapsed"
    >
      <input
        #searchInput
        type="search"
        placeholder="cpf, nome, email ou inscrição"
        class="w-full bg-transparent text-sm text-foreground placeholder:text-muted-foreground focus:outline-none"
        [hidden]="asideCollapsed"
        (input)="search.emit(searchInput.value)"
      />
    </label>
  </section>
  <div
    class="flex items-center h-full px-2"
    [class.px-3]="asideCollapsed"
    (click)="toggleAsideCollapsed.emit()">
    <i-tabler
      class="size-5! flex!"
      [name]="asideCollapsed ? 'chevron-right' : 'chevron-left'"
      [attr.aria-label]="asideCollapsed ? 'Expandir painel lateral' : 'Recolher painel lateral'"
      [attr.aria-expanded]="!asideCollapsed"
    ></i-tabler>
  </div>
</header>
