.cards-circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
  border: 1px solid transparent;
}

.active-primary {
  &.bg-primary {

    i-tabler,
    .mdc-list-item__primary-text {
      color: white;
    }
  }
}