.note {
  position: relative;
  padding: 1rem 0;
  width: 100%;
}

.notes-item {
  transition: all 0.1s ease-in 0s;
  transform: scale(0.95);

  &.mdc-list-item:hover::before {
    background-color: inherit !important;
  }
}

.notes-item.selected {
  transition: all 0.1s ease-in 0s;
  transform: scale(1);

  &.mdc-list-item:hover::before {
    background-color: inherit !important;
  }
}

.notes-app {
  .color-button {
    min-width: 20px !important;
    padding: 0 !important;
  }

  .mat-list-base .mat-list-item,
  .mat-list-base .mat-list-option {
    height: auto !important;
  }

  .mat-list-base {
    padding-top: 0 !important;
  }

  .mat-input-element {
    box-sizing: border-box;
  }
}