<mat-toolbar class="topbar gap-1">
  @if(showToggle) {
  <button mat-icon-button (click)="toggleCollapsed.emit()" class="flex justify-center">
    <i class="iconify flex" data-icon="solar:hamburger-menu-linear"></i>
  </button>
  }

  @if(!showToggle) {
  <button mat-icon-button (click)="toggleMobileNav.emit()" class="flex justify-center">
    <i class="iconify flex" data-icon="solar:hamburger-menu-linear"></i>
  </button>
  }

  <span class="flex-1"></span>

  @if(options.theme=='light'){
  <button mat-icon-button aria-label="lightdark" class="flex justify-center" (click)="setlightDark('dark')">
    <i-tabler class="flex" [name]="'moon'"></i-tabler>
  </button>
  }@else{
  <button mat-icon-button aria-label="lightdark" class="flex justify-center" (click)="setlightDark('light')">
    <i-tabler class="flex" [name]="'sun'"></i-tabler>
  </button>
  }
</mat-toolbar>
