@use "../variables" as *;

.img-overlay {
  position: relative;
  border: 1px solid var(--mat-sys-outline);

  .overlay-content {
    display: none;
  }

  &:hover {
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 8;
      background-color: rgba(55, 114, 255, 0.2);
      border-radius: $border-radius;
    }

    .overlay-content {
      display: flex;
      position: absolute;
      top: 0;
      z-index: 9;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
    }
  }
}


// ----------------------------------------------------------
// banner
// ----------------------------------------------------------



.slider-img {
  animation: slideup 35s linear infinite;
}

.slider-img2 {
  animation: slidedown 35s linear infinite;
}

@keyframes slideup {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(0px, -100%, 0px);
  }
}

@keyframes slidedown {
  0% {
    transform: translate3d(0, -100%, 0);
  }

  100% {
    transform: translate3d(0px, 0, 0px);
  }
}


// demo slider
.demo-slider {

  .demo-slide {
    animation: slide 45s linear infinite;
  }
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

.marquee mat-card {
  width: 400px;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}