<aside
  aria-label="Leads e Inscrições"
  class="flex h-full! flex-col border-r border-border bg-background transition-all duration-200"
  [class.w-14]="asideCollapsed()"
  [class.w-72]="!asideCollapsed()"
>
  <journey-aside-header
    [asideCollapsed]="asideCollapsed()"
    (search)="onSearch($event)"
    (toggleAsideCollapsed)="toggleAsideCollapsed($event)"
  ></journey-aside-header>


  <section
    journey-aside-leads
    class="flex flex-col transition-all duration-200 border-b border-border"
    [class]="css_section_leads()"
    [asideCollapsed]="asideCollapsed()"
    [leadCollapsed]="leadCollapsed()"
    [registrationCollapsed]="registrationCollapsed()"
    [isLoadingLeads]="isLoadingLeads()"
    [profiles]="profiles()"
    [selectedLeadUid]="selectedLeadUid()"
    (toggleLeadCollapsed)="toggleLeadCollapsed()"
    (toggleAsideCollapsed)="toggleAsideCollapsed($event)"
    (selectLead)="selectLead($event)"
  ></section>

  <section
    journey-aside-registrations
    class="flex flex-col transition-all duration-200"
    [class]="css_section_registrations()"
    [asideCollapsed]="asideCollapsed()"
    [registrationCollapsed]="registrationCollapsed()"
    [leadCollapsed]="leadCollapsed()"
    [isLoadingLeads]="isLoadingLeads()"
    [selectedLeadUid]="selectedLeadUid()"
    [selectedRegistrations]="selectedRegistrations()"
    [selectedRegistrationUid]="selectedRegistrationUid()"
    (toggleRegistrationCollapsed)="toggleRegistrationCollapsed()"
    (toggleAsideCollapsed)="toggleAsideCollapsed($event)"
    (selectRegistration)="selectRegistration($event)"
  ></section>
</aside>
