@use '../variables' as *;

.ngx-pagination {
  .current {
    background: var(--mat-sys-primary) !important;
    border-radius: $border-radius;
  }

  a {
    border-radius: $border-radius !important;
  }

  button {
    border-radius: $border-radius !important;
  }
}

.email-box {
  @media (max-width: 991px) {
    .detail-part {
      display: none;
    }
  }

  @media (max-width: 1279px) {
    .detail-part.movetodetail {
      display: block;
      position: absolute;
      z-index: 9;
      left: 0;
      background: $white;
    }
  }
}
