@use '../variables' as *;

.new-request,
.in-progress,
.backLog {
  background: var(--mat-sys-surface-bright);
}

.complete {
  background-color: rgba($success, 0.15);
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: $border-radius;
  box-shadow: var(--mat-sys-level2);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list {
  padding: 0px 0px 20px 0px !important;
}
