<mat-toolbar class="topbar horizontal-topbar border-b border-border px-0!">
  <div class="container gap-2">
    <div class="hidden sm:flex branding">
      <app-branding></app-branding>
    </div>

    <!-- Mobile Menu -->
    <button mat-icon-button (click)="toggleMobileNav.emit()" class="block! lg:hidden!">
      <i class="iconify flex" data-icon="solar:hamburger-menu-linear"></i>
    </button>
    <!-- --------------------------------------------------------------- -->

    <span class="flex-1"></span>

    @if (options.theme == 'light') {
      <button mat-icon-button aria-label="lightdark" class="flex justify-center" (click)="setlightDark('dark')">
        <i-tabler class="flex" [name]="'moon'"></i-tabler>
      </button>
    } @else {
      <button mat-icon-button aria-label="lightdark" class="flex justify-center" (click)="setlightDark('light')">
        <i-tabler class="flex" [name]="'sun'"></i-tabler>
      </button>
    }
  </div>
</mat-toolbar>
